body {
    background-color:rgba(235, 238, 243, 1);
    padding:0;
    margin:0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.pagination {
    padding-top:25px;
    padding-bottom:35px;
    display:flex;
    justify-content:center;
}